<!-- FILEPATH: /vagrant/QA-DevOps-training/postman-api-testing/views/login.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button id="submit_btn" type="submit">Login</button>
        </form>
    </body>
</html>
